/* Start CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border:0;
	font:inherit;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
}

body {
	line-height:0;
}

ol, ul, li {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* End CSS Reset */

body {
	background:#f0f0f0;
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}

#wrapper {
	background:#1cb6ea;
	height:580px;
	margin:0 auto;
	width:100%;
}

#container {
	margin:0 auto;
	width:700px;
}

#header-left {
	color:#ffffff;
	float:left;
	font-size:18px;
	line-height:35px;
	margin-top:20px;
	padding:0 25px 0 0;
	text-align:left;
	width:350px;
}

#header-right {
	color:#ffffff;
	float:right;
	margin-top:55px;
	padding:25px;
	width:275px;
}

#footer {
	background:#cccccc;
	font-size:14px;
	line-height:14px;
	margin-top:50px;
	padding:25px;
	text-align:center;
}

.search-box {
	height:50px;
	width:100%;
}

.search {
	border:none;
	border-radius:5px 0 0 5px;
	color:#0F0D0D;
	font-size:20px;
	height:50px;
	padding:15px;
	width:80%;
}

.submit {
	background-color:#ec684f;
	background-image:url(../search.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:30px;
	border:none;
	border-radius:0 5px 5px 0;
	cursor:pointer;
	float:right;
	height:50px;
	width:20%;
}

.search:focus {
	outline:0;
}

.percentage {
	float:left;
	font-size:75px;
	font-weight:bold;
}

.side {
	float:right;
	font-size:12px;
}

.map {
	background:#cccccc;
	float:left;
	height:400px;
	margin-top:25px;
	width:100%;
}

.login {
	color:#ffffff;
	font-size:14px;
	line-height:45px;
	width:100%;
}

.list {
	font-weight:bold;
	text-align:center;
}

.color {
	color:#ec684f;
	font-weight:bold;
}

.facebook-box {
	background:#2a80b9;
	border-radius:5px;
	color:#ffffff;
	font-size:18px;
	line-height:60px;
	margin:25px auto 0;
	padding:0 25px 0 0;
	text-align:right;
	width:375px;
}

.facebook-box:hover {
	background:#276a97;
}

.facebook-box img {
	float:left;
	margin:15px 0 0 15px;
}

.user-box {
	background:#ffffff;
	border-radius:10px;
	color:#333333;
	font-size:18px;
	line-height:80px;
	margin:10px auto 0;
	padding:0 15px;
	text-align:left;
	width:500px;
}

.user-box-current {
	background:#ffffff;
	border:3px solid #1cb6ea;
	border-radius:10px;
	color:#333333;
	font-size:18px;
	line-height:80px;
	margin:10px auto 0;
	padding:0 15px;
	text-align:left;
	width:500px;
}

.user-box-current img, .user-box img {
	border-radius:5px;
	float:left;
	margin:10px 20px;
}

.user-position {
	color:#cccccc;
	float:left;
	font-size:50px;
	font-weight:bold;
}

.user-box-current .user-position {
	color:#ec684f;
}

.user-percentage {
	color:#ec684f;
	float:right;
	font-size:40px;
	font-weight:bold;
}

a:link, a:visited {
	color:#ffffff;
	outline:none;
	text-decoration:underline;
}

a:hover, a:active {
	text-decoration:none;
}

a.footer:link, a.footer:visited {
	color:#333333;
}

h1 {
	color:#333333;
	font-size:24px;
	font-weight:bold;
	line-height:30px;
	margin:25px auto 0;
	text-align:center;
	width:55%;
}

h2 {
	color:#1cb6ea;
	font-size:36px;
	font-weight:bold;
	line-height:36px;
	margin:35px auto 25px;
	text-align:center;
	width:100%;
}

h3 {
	color:#ec684f;
	font-size:18px;
	font-weight:bold;
	line-height:18px;
	margin:35px auto 25px;
	text-align:center;
	width:100%;
}

li {
	color:#bbbbbb;
	display:inline-block;
	font-size:18px;
	line-height:18px;
	padding:15px 10px;
}

p {
	font-size:16px;
	line-height:25px;
}

@media screen and (max-width:800px) {

	#wrapper {
		height:540px;
	}

	#container {
		width:98%;
	}

	#header-left {
		padding:0;
		width:100%;
	}

	#header-right {
		padding:0 0 25px;
		width:100%;
	}

	.list {
		text-align:left;
	}

	.percentage {
		float:right;
	}

	.side {
		float:left;
		margin-left:15px;
	}

	.map {
		height:285px;
	}

	.user-box {
		padding:0 5px;
		width:90%;
	}

	.user-box-current {
		padding:0 5px;
		width:90%;
	}

	h1 {
		font-size:18px;
		line-height:24px;
	}

	h2 {
		font-size:24px;
		line-height:24px;
	}

	li {
		display:block;
		font-size:24px;
		line-height:24px;
		padding:15px 0 0 25px;
	}

}

@media screen and (max-width:500px) {

	.facebook-box {
		font-size:14px;
		line-height:40px;
		padding:0;
		text-align:center;
		width:100%;
	}

	.facebook-box img {
		height:20px;
		margin:10px 0 0 10px;
		width:20px;
	}

	.user-box {
		font-size:14px;
		line-height:60px;
	}

	.user-box-current {
		font-size:14px;
		line-height:60px;
	}

	.user-box-current img, .user-box img {
		height:40px;
		margin:10px;
		width:40px;
	}

	.user-position {
		font-size:36px;
	}

	.user-percentage {
		font-size:30px;
	}

}